<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>社团列表 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">
      {{template "partials/console/nav"}}
      {{range .}}
      <div class="card w-100 mt-3">
        <div class="row w-100 mx-auto p-4">
          {{if .LogoURL}}
          <img src="{{.LogoURL}}" class="icon-h">
          {{else}}
          <img src="/static/assets/tobee.png" class="icon-h">
          {{end}}
          <div class="card-body">
            <h5 class="card-title">{{.Name}}</h5>
            <h5 class="card-subtitle mb-3">{{.Collage}}</h5>
            <p class="card-text text-small">
              {{.Description}}
            </p>
            <a href="/organizations?id={{.ID}}" class="btn btn-primary">详情</a>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </body>
</html>
