<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>社团详情 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">
      {{template "partials/console/nav"}}
      {{template "partials/console/edit_bar"}}
      <form>
        <input type="hidden" value={{.ID}} id="inputID">
        <div class="form-row">
          <div class="col-sm-7">
            <div class="form-group">
              <label for="inputUsername">用户名</label>
              <input class="form-control form-control-lg need-enable"
                type="text" id="inputUsername"
                value="{{.Username}}" disabled>
            </div>
            <div class="form-group">
              <label for="inputPhone">手机号码</label>
              <input class="form-control form-control-lg"
                type="text" id="inputPhone"
                value="{{.Phone}}" disabled>
            </div>
          </div>
          <div class="form-group ml-auto">
            <label for="" class="sr-only">用户头像</label>
            {{if .AvatarURL}}
            <img src="{{.AvatarURL}}" class="form-control icon mx-auto">
            {{else}}
            <img src="/static/assets/tobee.png" class="form-control icon mx-auto">
            {{end}}
            <div class="input-group display-none need-appear">
              <div class="custom-file">
                <label class="custom-file-label" for="inputAvatar">
                  选择头像
                </label>
                <input type="file" accept="image/*"
                  class="custom-file-input" id="inputAvatar">
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary upload" type="button">
                  上传
                </button>
              </div>
            </div>
            <div class="avatar-croppie">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputLocation">地区</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id="inputLocation"
            value="{{.Location}}" disabled>
        </div>
        <div class="form-group">
          <label for="">注册时间</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id=""
            value='{{.CreateTime.Format "2006-01-02 15:04"}}' disabled>
        </div>
        <div class="form-group">
          <label for="inputDescription">个性签名</label>
          <textarea class="form-control need-enable" id="inputDescription"
            rows="5" disabled>{{.Description}}</textarea>
        </div>
        <div class="form-group">
          <label for="inputOccupation">职业</label>
          <div class="department-group">
            <input class="form-control mb-2 need-enable" type="text"
              id="inputOccupation"
              placeholder="职业名称" value="{{.Occupation}}" disabled>
          </div>
          <button class="btn btn-light col display-none need-appear"
            type="button">添加</button>
        </div>
        <div class="form-group">
          <lable for="inputCollage">就读高校或毕业高校</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id="inputCollage"
            value="{{.Collage}}" disabled>
        </div>
        <div class="form-group">
          <lable for="inputCamera">相机型号</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id="inputCamera"
            value="{{.Camera}}" disabled>
        </div>
      </form>
    </div>

    <script src="/static/js/console/user.js" charset="utf-8"></script>
  </body>
</html>
