<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>用户管理 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">

      {{template "partials/console/nav"}}
      <div class="user-page">
      <table class="table text-nowrap" style="border-collapse:separate; border-spacing:0 2px">
        <thead class="col-md-12">
            <tr class="row mx-0">
              <th class="col-6 text-center"></th>
              <th class="col-2 text-center text-muted">地区</th>
              <th class="col-2 text-center text-muted">创建时间</th>
              <th class="col-2 text-center text-muted">是否为VIP</th>
            </tr>
        </thead>
        <tbody class="col-md-12">
          {{ range .}}

          <tr class="row mx-0 table-radius table-active">
            <td class="col-6">
              <div class="row">
                <div class="col-md-1 user-rank">#1</div>
                <a class="col-md-11 user-link" href="/users?id={{.ID}}">
                {{if .AvatarURL}}
                <span class = "head-sculpture" style = "background-image:url('{{.LogoURL}}');"></span>
                {{else}}
                <span class = "head-sculpture" style = "background-image:url('/static/assets/tobee.png');" ></span>
                {{end}}
                <span class = "user-name">{{.Username}}</span>
                </a>
              </div>
            </td>
            <td class="col-2 text-center text-muted">{{.Location}}</td>
            <td class="col-2 text-center text-muted">{{.CreateTime}}</td>
            <td class="col-2 text-center text-muted">{{.VIP}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    </div>
  </body>
</html>
