<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>用户管理 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">
      {{template "partials/console/nav"}}
    </div>
  </body>
</html>
