<div class="navbar navbar-expand-sm p-0">
  <a class="nav-link px-0 py-4 back" href="#">返回</a>
  <a class="nav-link px-0 py-4 ml-auto edit need-disappear"
    href="#">编辑</a>
  <a class="nav-link px-0 py-4 ml-auto cancel display-none need-appear"
    href="#">取消</a>
  <a class="nav-link px-0 py-4 ml-3 submit display-none
    need-appear text-danger"
    href="#">确认</a>
</div>
