<div class="nav nav-pills navbar navbar-light navbar-expand-sm
            bg-light sticky-top mb-3">
  <a class="navbar-brand align-top" href="#">
    <img src="/static/assets/tobee.png" alt="" width="30" height="30">
    <span class="ml-2 h6">控制台</span>
  </a>
  <a class="nav-link" href="/">照片管理</a>
  <a class="nav-link" href="/photolives">照片直播业务</a>
  <a class="nav-link" href="/organizations">社团管理</a>
  <a class="nav-link text-danger ml-auto" href="/login">登出</a>
</div>
