<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>社团详情 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">
      {{template "partials/console/nav"}}
      {{template "partials/console/edit_bar"}}
      <form>
        <div class="form-row">
          <div class="col-sm-7">
            <div class="form-group">
              <label for="">用户名</label>
              <input class="form-control form-control-lg need-enable"
                type="text" id=""
                value="" disabled>
            </div>
            <div class="form-group">
              <label for="">手机号码</label>
              <input class="form-control form-control-lg"
                type="text" id=""
                value="123456789" disabled>
            </div>
          </div>
          <div class="form-group ml-auto">
            <label for="" class="sr-only">用户头像</label>
            <img src="" class="form-control icon">
          </div>
        </div>
        <div class="form-group">
          <label for="">用户所在地区</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id=""
            value="" disabled>
        </div>
        <div class="form-group">
          <label for="">注册时间</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id=""
            value="" disabled>
        </div>
        <div class="form-group">
          <label for="">个性签名</label>
          <textarea class="form-control need-enable" id=""
            rows="5" disabled></textarea>
        </div>
        <div class="form-group">
          <label for="">职业</label>
          <div class="department-group">
            <input class="form-control mb-2 need-enable" type="text"
              placeholder="职业名称" value="摄影师" disabled>
          </div>
          <button class="btn btn-light col display-none need-appear"
            type="button">添加</button>
        </div>
        <div class="form-group">
          <lable for="">就读高校或毕业高校</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id=""
            value="" disabled>
        </div>
        <div class="form-group">
          <lable for="">相机型号</label>
          <input class="form-control form-control-lg need-enable"
            type="text" id=""
            value="" disabled>
        </div>
      </form>
    </div>
  </body>
</html>
