<body class="text-center">

  <link rel="stylesheet" href="/static/css/register.css">

  <form class="form-register">
    <img class="mb-5" src="/static/assets/tobee.png" alt="" width="72" height="72">
    <h1 class="h3 mb-4 font-weight-normal">注册</h1>
    <label for="inputPhone" class="sr-only">手机号码</label>
    <input type="text" id="inputPhone" class="form-control" placeholder="手机号码" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
    <label for="inputConfirmPassword" class="sr-only">确认密码</label>
    <input type="password" id="inputConfirmPassword" class="form-control mb-4" placeholder="确认密码"　required>
    <div class="checkbox mb-3">
      <label>
        <input type="radio" name="user-type" checked="true"> 个人
        <input type="radio" name="user-type"> 社团
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    <button class="btn btn-lg btn-secondary btn-block" type="button">已有帐号？登录</button>
    <p class="mt-5 mb-3 text-muted">&copy; ToBEE 2017-2018</p>
  </form>

  <script src="/static/js/register.js" charset="utf-8"></script>

</body>
