<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ToBEE Login">
    <meta name="author" content="ToBEE Development Team">
    <link rel="icon" href="/static/favicon.ico">

    <title>图蜂运营管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/js/jquery/jquery-3.3.1.min.js" charset="utf-8"></script>
  </head>

  <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-mowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-3 mr-0" href="/">控制台</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/login">登出</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">照片管理</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">账户</a>
              </li>
          </div>
        </nav>
      </div>

      {{.}}

    </div>

    <script src="/static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/index.js" charset="utf-8"></script>

  </body>

</html>
