<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ToBEE Login">
    <meta name="author" content="ToBEE Development Team">
    <link rel="icon" href="/static/favicon.ico">

    <title>登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  {{.}}

</html>
