<!doctype html>
<html lang="zh">
<head>
  {{template "partials/header"}}

  <title>图蜂运营管理系统</title>

  <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

  {{template "partials/index/nav"}}

  <div class="container-fluid">
    <div class="row">

      {{template "partials/index/menu"}}

      <main role="main" class="col-md-11 ml-sm-auto pt-3 px-4">

        <div class="row mb-3">
          <h2 class="col">照片直播业务</h2>
          <a href="/photolives/add" role="button" class="btn">添加</a>
        </div>
        <div>
          <table class="table table-hover">
            <thead>
              <tr class="row">
                <th class="col-1 text-center">LOGO</th>
                <th class="col-3">活动/主办方/举办地</th>
                <th class="col-2">广告谈判进度</th>
                <th class="col-2 text-center">起止时间</th>
                <th class="col-1 text-center">预计人数</th>
                <th class="col-1 text-center">对接负责人</th>
                <th class="col-1 text-center">摄影监理</th>
                <th class="col-1 text-center">社团联络人</th>
              </tr>
            </thead>
            <tbody>
              {{range .}}
              <tr class="h-200px row">
                <td class="col-1 align-middle">
                  <img src="/static/assets/tobee.png" class="my-img">
                </td>
                <td class="col-3 break-word">
                  <p class="h5">{{.ActivityName}}</p>
                  <p>{{.OrganizationName}}</p>
                  <p>{{.Location}}</p>
                </td>
                <td class="col-2 break-word">
                  {{.AdProgress}}
                </td>
                <td class="text-center col-2">
                  {{.StartTime}}<br>{{.EndTime}}
                </td>
                <td class="text-center col-1">
                  {{.ExpectMembers}}
                </td>
                <td class="text-center col-1">
                  {{.ManagerName}}<br>{{.ManagerPhone}}
                </td>
                <td class="text-center col-1">
                  {{.PhotographerManagerName}}<br>{{.PhotographerManagerPhone}}
                </td>
                <td class="text-center col-1">
                  {{range .Supervisors}}
                    <div>
                      {{.Name}}<br>{{.Phone}}
                    </div>
                  {{end}}
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>

      </main>

    </div>
  </div>

  <script src="/static/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>
  <script src="/static/js/index.js" charset="utf-8"></script>

</body>

</html>
