<main role="main" class="col-md-11 ml-sm-auto pt-3 px-4">

  <h2>照片直播业务</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>活动名称</th>
          <th>主办方</·th>
          <th>举办地</th>
          <th>起止时间</th>
          <th>预计人数</th>
          <th>广告谈判进度</th>
          <th>对接负责人</th>
          <th>摄影监理</th>
          <th>社团联络人</th>
        </tr>·
      </thead>
      <tbody>
        <tr class="h-150px">
          <td class="align-middle">1</td>
          <td class="align-middle">1758晚会</td>
          <td class="align-middle">团委</td>
          <td class="align-middle">中山大学某地</td>
          <td class="align-middle">2000/01/01 20:00<br>2012/01/01 22:00</td>
          <td class="align-middle">100</td>
          <td class="align-middle">谈判中</td>
          <td class="align-middle">张铁林 12345678901</td>
          <td class="align-middle">张铁林 12345678901</td>
          <td class="align-middle">张铁林 12345678901<br>林铁张 12365478901</td>
        </tr>
        <tr class="h-150px">
          <td class="align-middle">1</td>
          <td class="align-middle">1758晚会</td>
          <td class="align-middle">团委</td>
          <td class="align-middle">中山大学某地</td>
          <td class="align-middle">2000/01/01 20:00<br>2012/01/01 22:00</td>
          <td class="align-middle">100</td>
          <td class="align-middle">谈判中</td>
          <td class="align-middle">张铁林 12345678901</td>
          <td class="align-middle">张铁林 12345678901</td>
          <td class="align-middle">张铁林 12345678901<br>林铁张 12365478901</td>
        </tr>
        {{range .PhotoLives}}
        {{end}}
      </tbody>
    </table>
  </div>

</main>
