.icon {
  width: 184px;
  height: 184px;
}

.icon-h {
  height: 184px;
}

p, .text-small {
  font-size: 10pt;
}

p {
  word-wrap: break-word !important;
}

.display-none {
  display: none;
}

.w-600px {
  width: 600px;
}

.head-sculpture {
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  border-radius: 4px;
  height: 25px;
  width: 25px;
  background-size: cover;
}

.table-radius{
  border-radius: 15px;
}

tbody tr:hover {
  cursor: pointer;
}

.user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-name {
  margin-left: 15px;
}

.display-inline {
  display: inline;
}

.user-rank {
  padding-left: 10px;
}

.user-page {
  margin-bottom: 10px;
  padding: 15px 20px 0;
  background-color: #FFF;
}

.table-backcolor {
  background-color: #FFF;
}

.user-table {
  border: none;
  border-collapse:collapse;
  border-spacing:0 2px;
}

table.border-none td,table.border-none th{
 border: none !important;
}
