.icon {
  width: 184px;
  height: 184px;
}

.icon-h {
  height: 184px;
}

p, .text-small {
  font-size: 10pt;
}

p {
  word-wrap: break-word !important;
}

.display-none {
  display: none;
}

.w-600px {
  width: 600px;
}
.head-sculpture {
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  border-radius: 4px;
  height: 40px;
  width: 40px;
  background-size: cover;
  display: inline-block;
}
.user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user-name {
  margin-left: 15px;
}

.display-inline {
  display: inline;
}
