.icon {
  width: 184px;
  height: 184px;
}

.icon-h {
  height: 184px;
}

p, .text-small {
  font-size: 10pt;
}

p {
  word-wrap: break-word !important;
}

.display-none {
  display: none;
}

.w-600px {
  width: 600px;
}
