<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>社团活动管理 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">
      {{template "partials/console/nav"}}
      {{$first := index . 0}}
      {{$organization := $first.Organization}}
      {{$activity := $first.Activity}}
      <div class="card w-100 mt-3 mb-3">
        <div class="row">
          <div class="col-sm-2 my-auto">
            {{if $activity.LogoURL}}
            <img src="{{$activity.LogoURL}}" class="icon-h col-sm-3">
            {{else if $organization.LogoURL}}
            <img src="{{$organization.LogoURL}}" class="icon-h">
            {{else}}
            <img src="/static/assets/tobee.png" class="icon-h">
            {{end}}
          </div>
          <div class="card-body col-sm-10">
            <h5 class="card-title">
              {{$activity.Name}} [{{$activity.Category}}]
            </h5>
            <h6 class="card-subtitle mb-3">{{$organization.Name}}</h5>
            <p class="card-text text-small">
              {{$activity.Description}}
            </p>
            <div class="mt-5">
              <a href="/organizations?id={{$organization.ID}}">社团详情</a>
              {{if $activity.PosterURL}}
                <a href="{{$activity.PosterURL}}">海报下载</a>
              {{else}}
                <a href="#" class="ml-3 text-muted">暂无海报</a>
              {{end}}
            </div>
          </div>
        </div>
      </div>
      <div id="accordion">
        {{range .}}
        <div class="card">
          <div class="card-header" id="heading{{.Stage.StageNum}}">
            <button class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapse{{.Stage.StageNum}}" aria-expanded="true"
              aria-controls="collapse">
              阶段{{.Stage.StageNum}} {{.Stage.Location}}
              {{.Stage.StartTime.Format "2006-01-02 15:04"}} ~
              {{.Stage.EndTime.Format "2006-01-02 15:04"}}
            </button>
          </div>
          <div id="collapse{{.Stage.StageNum}}" class="collapse"
            aria-labelledby="heading{{.Stage.StageNum}}"
            data-parent="#accordion">
            <div class="card-body">
              {{.Stage.Content}}
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
