<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>用户管理 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">

      {{template "partials/console/nav"}}
      <table class="table table-sm table-hover border-none">
        <thead>
            <tr class="row mx-0 px-5">
              <th class="col-6 text-center"></th>
              <th class="col-2 text-center text-muted">地区</th>
              <th class="col-2 text-center text-muted">创建时间</th>
              <th class="col-2 text-center text-muted">否VIP</th>
            </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr class="row mx-0 table-radius px-5" style="height: 50px">
            <input id="userID" type="hidden" value="{{.ID}}">
            <td class="col-6 my-auto">
              {{if .AvatarURL}}
              <img class="head-sculpture" src="{{.AvatarURL}}">
              {{else}}
              <img class="head-sculpture" src="/static/assets/tobee.png">
              {{end}}
              <span class = "user-name">{{.Username}}</span>
            </td>
            <td class="col-2 text-center text-muted my-auto">
              {{.Location}}
            </td>
            <td class="col-2 text-center text-muted my-auto">
              {{.CreateTime.Format "2006-01-02 15:04"}}
            </td>
            {{if .VIP}}
            <td class="col-2 text-center text-muted my-auto">是</td>
            {{else}}
            <td class="col-2 text-center text-muted my-auto">否</td>
            {{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <script src="/static/js/console/users.js" charset="utf-8"></script>
  </body>
</html>
