<!DOCTYPE html>
<html>
  <head>
    {{template "partials/console/header"}}
    <title>照片管理 - 图蜂后台管理系统</title>
  </head>
  <body>
    <div class="container">
      {{template "partials/console/nav"}}
      <div class="nav nav-tabs">
        <div class="nav-item dropdown w-50 text-sm-center">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown"
            href="#" role="button" aria-haspopup="true" aria-expanded="false">
            已审核
          </a>
          <div class="dropdown-menu text-sm-center w-600px">
            <div class="row">
              <div class="col">
                <a href="/photos"
                  class="dropdown-item">全部照片</a>
                <a href="/photos?category=公关活动"
                  class="dropdown-item">公关活动</a>
                <a href="/photos?category=地理自然"
                  class="dropdown-item">地理自然</a>
                <a href="/photos?category=肖像写真"
                  class="dropdown-item">肖像写真</a>
              </div>
              <div class="col">
                <a href="/photos?category=新闻"
                  class="dropdown-item">新闻</a>
                <a href="/photos?category=军事"
                  class="dropdown-item">军事</a>
                <a href="/photos?category=动物"
                  class="dropdown-item">动物</a>
                <a href="/photos?category=广告"
                  class="dropdown-item">广告</a>
              </div>
              <div class="col">
                <a href="/photos?category=微距"
                  class="dropdown-item">微距</a>
                <a href="/photos?category=工业"
                  class="dropdown-item">工业</a>
                <a href="/photos?category=建筑"
                  class="dropdown-item">建筑</a>
                <a href="/photos?category=天文"
                  class="dropdown-item">天文</a>
              </div>
              <div class="col">
                <a href="/photos?category=其它e"
                  class="dropdown-item">其它</a>
                <a href="/photos?category=未通过"
                  class="dropdown-item">未通过</a>
              </div>
            </div>
          </div>
        </div>
        <a class="nav-link w-50 text-sm-center"
          href="/photos?category=未审核">未审核</a>
      </div>
    </div>
  </body>
</html>
